07_futbol/resultados_v2.dtd

<!ELEMENT partidos (resultados+)>
        <!ELEMENT resultados (nombre_local,nombre_visitante)>
        <!ELEMENT nombre_local (#PCDATA)>
        <!ELEMENT nombre_visitante (#PCDATA)>
        <!ATTLIST nombre_local goles_local   CDATA #REQUIRED>
        <!ATTLIST nombre_visitante goles_visitante  CDATA #REQUIRED>